header {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30%;
  }

.topLine {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.836);
    
  }
  body{
      background-image: url(../WallPaper1.jpg);
      background-position: center;
      height: 100vh;
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
  }

  .logo img{
    float:left;
    margin-top: 30px;
    width:250px;
    height: auto;
}

.navBar {
    width: 50%;
    height: 80px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.836);
     
  }

  .Syllabus{
      display: none;
  }

  .navBar ul li:hover .Syllabus{
    display: block;
    position: absolute;
    background: rgb(0, 100, 1);
    margin-top: 15px;
    margin-left: -15px; 

}